[*.cs]
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0019.severity = none
dotnet_diagnostic.IDE0045.severity = none
dotnet_diagnostic.IDE0046.severity = none
dotnet_diagnostic.IDE0032.severity = none
dotnet_diagnostic.IDE0290.severity = none
dotnet_diagnostic.IDE0078.severity = none
dotnet_diagnostic.IDE0011.severity = none
dotnet_diagnostic.IDE0022.severity = none
dotnet_diagnostic.CA1859.severity = none
